<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>nGMadLibs</title>
   </head>
<body ng-app="myApp">
  <div ng-controller="oneController">
  <form name="myForm" ng-submit="submitted=true;submit()" novalidate>
  <input ng-model="data.one" name="texty" type="text" placeholder="Person in Room(Last Name)" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    A Last Name is required!
</span>
  <input ng-model="data.two" name="texty" type="text" placeholder="Plural Noun" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    A Plural Noun is required!
</span>
  <input ng-model="data.three" name="texty" type="text" placeholder="Adjective" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    An Adjective is required!
</span>
  <input ng-model="data.four" name="texty" type="text" placeholder="Noun" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    A Noun is required!
</span>
  <input ng-model="data.five" name="texty" type="text" placeholder="Noun" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    A Noun is required!
</span>
  <input ng-model="data.six" name="texty" type="text" placeholder="Part of the Body" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    A Part of the Body is required!
</span>
  <input ng-model="data.seven" name="texty" type="text" placeholder="Part of the Body" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    A Part of the Body is required!
</span>
  <input ng-model="data.eight" name="texty" type="text" placeholder="Plural Noun" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    A Plural Noun is required!
</span>
  <input ng-model="data.nine" name="texty" type="text" placeholder="Noun" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    A Noun is required!
</span>
  <input ng-model="data.ten" name="texty" type="text" placeholder="Noun" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    A Noun is required!
</span>
  <input ng-model="data.eleven" name="texty" type="text" placeholder="Exclamation" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    An Exclamation is required!
</span>
  <input ng-model="data.twelve" name="texty" type="text" placeholder="Noun" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    A Noun is required!
</span>
  <input ng-model="data.thirteen" name="texty" type="text" placeholder="Noun" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    A Noun is required!
</span>
  <input ng-model="data.fourteen" name="texty" type="text" placeholder="Noun" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    A Noun is required!
</span>
  <input ng-model="data.fifteen" name="texty" type="text" placeholder="Verb" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    A Verb is required!
</span>
  <input ng-model="data.sixteen" name="texty" type="text" placeholder="Adjective" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    An Adjective is required!
</span>
  <input ng-model="data.seventeen" name="texty" type="text" placeholder="Noun" required>
  <span class="error" ng-if="myForm.$submitted && myForm.texty.$error.required">
    A Noun is required!
</span>
<button class="submit" ng-click="submit()">Submit</button>
<button class="reset" ng-click="reset()">Reset</button>
</form>

<div id="paragraph">
  <p ng-hide="hideText">Patient: Thank you very much for seeing me, Doctor {{data.one}}, on such {{data.two}} notice.<br>
    Dentist: What is your problem, young {{data.three}}?<br>
    Patient: I have a pain in my upper {{data.four}}, which is giving me a severe {{data.five}} ache.<br>
    Dentist: Let me take a look. Open your {{data.six}} wide. Good. now I'm going to tap your {{data.seven}} with my {{data.eight}}.<br>
    Patient: Shouldn't you give me a/an {{data.nine}} killer?<br>
    Dentist: It's not necessary yet {{data.ten}}. I think I see a/an {{data.eleven}} in your upper {{data.twelve}}.<br>
    Patient: Are you going to pull my {{thirteen}} out?<br>
    Dentist: No, I'm going to {{data.fourteen}} your tooth and put in a temporary {{data.fifteen}}.<br>
    Patient: When do i come back for the {{data.sixteen}} filling?<br>
    Dentist: A day after I cash your {{data.seventeen}}.<br>
  </p>
</div>
</div>
<script src="https://code.angularjs.org/1.3.10/angular.js"></script>
 <script defer src="script.js"></script>
</body><br>
</html>
