<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>nGMadLibs</title>
   <script src="https://code.angularjs.org/1.3.10/angular.js"></script>

</head>
<body ng-app="myApp">
  <div ng-controller="oneController">
  <form>
  <input ng-model="one" type="text" placeholder="Plural Noun">
  <input ng-model="two" type="text" placeholder="Person in Room(Last Name)">
  <input ng-model="three" type="text" placeholder="Adjective">
  <input ng-model="four" type="text" placeholder="Noun">
  <input ng-model="five" type="text" placeholder="Noun">
  <input ng-model="six" type="text" placeholder="Part of the Body">
  <input ng-model="seven" type="text" placeholder="Part of the Body">
  <input ng-model="eight" type="text" placeholder="Plural Noun">
  <input ng-model="nine" type="text" placeholder="Noun">
  <input ng-model="ten" type="text" placeholder="Noun">
  <input ng-model="eleven" type="text" placeholder="Exclamation">
  <input ng-model="twelve" type="text" placeholder="Noun">
  <input ng-model="thirteen" type="text" placeholder="Noun">
  <input ng-model="fourteen" type="text" placeholder="Noun">
  <input ng-model="fifteen" type="text" placeholder="Verb">
  <input ng-model="sixteen" type="text" placeholder="Adjective">
  <input ng-model="seventeen" type="text" placeholder="Noun">
</form>
  <p>Patient: Thank you very much for seeing me, doctor {{one}} , on such {{two}} notice.
    Dentist: What is your problem, young {{three}}?
    Patient: I have a pain in my upper {{four}} , which is giving me a severe {{five}} ache.
    Dentist: Let me take a look. Open your {{six}} wide. Good. now I'm going to tap your {{seven}} with my {{eight}}.
    Patient: Shouldn't you give me a/an {{nine}} killer?
    Dentist: It's not necessary yet {{ten}}. I think I see a/an {{eleven}} in your upper {{twelve}}.
    Patient: Are you going to pull my {{thirteen}} out?
    Dentist: No, I'm going to {{fourteen}} your tooth and put in a temporary {{fifteen}}.
    Patient: When do i come back for the {{sixteen}} filling?
    Dentist: A day after I cash your {{seventeen}}.
  </p>
</div>
 <script defer src="script.js"></script>
</body>
</html>
